<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin Board</title>
    <!--CSS 불러오는 부분-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Hyeonjin's Board</h1>
    </header>
    <main>
        <!-- 검색 폼 부분-->
        <form action="{{ url_for('index') }}" method="POST" id="search-form">
            <select name="search_type">
                <option value="all" {% if search_type == 'all' %}selected{% endif %}>전체 검색</option>
                <option value="title" {% if search_type == 'title' %}selected{% endif %}>제목 검색</option>
                <option value="body" {% if search_type == 'body' %}selected{% endif %}>내용 검색</option>
            </select>
            <input type="text" name="search_query" placeholder="검색어를 입력하세요" value="{{ search_query }}">
            <button type="submit">Search</button>
        </form>

        <!-- Posts 부분-->
        <section id="posts">
            <h2>Posts</h2>
            <div id="post-list">
                <!-- Flask에서 받은 posts 데이터를 반복하여 출력 -->
                {% for post in posts %}
                <div class="post-item">
                    <div class="post-title">{{ post[1] }}</div> <!-- post[1] = title -->
                    <div class="post-content">{{ post[2] }}</div> <!-- post[2] = body -->
                    <!-- 삭제 버튼 -->
                    <form action="{{ url_for('delete_post', id=post[0]) }}" method="POST" style="display: inline;">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                    <!-- 수정 버튼 -->
                    <a href="{{ url_for('edit_post', id=post[0]) }}" class="edit-button">Edit</a>
                </div>
                {% endfor %}
            </div>
        </section>

        <!--  New Post 부분 -->
        <section id="new-post">
            <h2>New Post</h2>
            <form id="post-form" action="{{ url_for('add_post') }}" method="POST">
                <input type="text" id="title" name="title" placeholder="Title" required>
                <textarea id="content" name="body" placeholder="Write your post..." required></textarea>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
</body>
</html>
