<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글 보기</title>
    <!-- CSS 파일 링크 추가 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>

    {% if post.is_secret %}
    <form method="POST">
      <label for="password">비밀번호를 입력하세요:</label>
      <input type="password" name="password" />
      <button type="submit">글 보기</button>
    </form>
    {% else %}
    <p>이 글은 공개글입니다.</p>
    {% endif %} {% if post.file %}
    <a href="{{ url_for('download_file', filename=post.file) }}"
      >첨부 파일 다운로드</a
    >
    {% endif %}

    <a href="{{ url_for('index') }}">목록으로 돌아가기</a>
  </body>
</html>
