<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 프로필 보기</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>회원 프로필</h1>
    <p><strong>이름:</strong> {{ user.name }}</p>
    <p><strong>학교:</strong> {{ user.school }}</p>
    <a href="{{ url_for('index') }}">홈으로 돌아가기</a>
  </body>
</html>
